### Тема “Обучение с учителем”

## Задание 1

Импортируйте библиотеки pandas и numpy.

In [43]:
import pandas as pd
import numpy as np

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.

In [44]:
from sklearn.datasets import load_boston

In [45]:
boston = load_boston()
data = boston["data"]
feature_names = boston["feature_names"]
X = pd.DataFrame(data, columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [46]:
target = boston["target"]
y = pd.DataFrame(target, columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [49]:
from sklearn.linear_model import LinearRegression

In [50]:
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [51]:
lr.fit(X_train, y_train)

LinearRegression()

In [52]:
y_pred = lr.predict(X_test)

y_pred.shape

(152, 1)

In [53]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
389    11.5  13.900736
29     21.0  20.903972
55     35.4  30.761861
362    20.8  16.758674
368    50.0  20.843885
128    18.0  19.610296
218    21.5  25.227133
473    29.8  26.194071
239    23.3  28.068180
171    19.1  23.966423

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [54]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]

check_test.head()

     y_test     y_pred      error
389    11.5  13.900736   2.400736
29     21.0  20.903972  -0.096028
55     35.4  30.761861  -4.638139
362    20.8  16.758674  -4.041326
368    50.0  20.843885 -29.156115

In [55]:
from sklearn.metrics import mean_squared_error

In [56]:
from sklearn.metrics import r2_score
r2_score_1=r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_1

0.595024044648689

## Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.

Сделайте агрумент n_estimators равным 1000,

max_depth должен быть равен 12 и random_state сделайте равным 42.

In [57]:
from sklearn.ensemble import RandomForestRegressor

In [58]:
model = RandomForestRegressor(n_estimators = 1000, max_depth = 12, random_state = 42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,

но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],

чтобы получить из датафрейма одномерный массив Numpy,

так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [59]:
model.fit(X_train, y_train.values[:,0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.

In [60]:
y_pred = model.predict(X_test)
y_pred.shape

(152,)

In [61]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
389    11.5  11.391003
29     21.0  23.192757
55     35.4  34.107352
362    20.8  20.657736
368    50.0  37.139762
128    18.0  17.498717
218    21.5  20.583032
473    29.8  26.436790
239    23.3  26.746429
171    19.1  21.925216

In [62]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]

check_test.head()

     y_test     y_pred      error
389    11.5  11.391003  -0.108997
29     21.0  23.192757   2.192757
55     35.4  34.107352  -1.292648
362    20.8  20.657736  -0.142264
368    50.0  37.139762 -12.860238

In [63]:
r2_score_2=r2_score(check_test["y_pred"], check_test["y_test"])
r2_score_2

0.8418932266557169

In [64]:
r2_score_1 < r2_score_2

True

Модель RandomForestRegressor работает лучше чем LinearRegression, так как показывает лучшие результаты

## *Задание 3

Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.

In [65]:
?RandomForestRegressor

feature_importances_ : ndarray of shape (n_features,)
    The impurity-based feature importances.
    The higher, the more important the feature.
    The importance of a feature is computed as the (normalized)
    total reduction of the criterion brought by that feature.  It is also
    known as the Gini importance.

    Warning: impurity-based feature importances can be misleading for
    high cardinality features (many unique values). See
    :func:`sklearn.inspection.permutation_importance` as an alternative.

С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [67]:
print(model.feature_importances_ )

[0.04696202 0.00132283 0.0057752  0.00152373 0.02027237 0.48609201
 0.01551601 0.06795657 0.00397064 0.0129279  0.01876361 0.01113731
 0.30777978]

In [69]:
model.feature_importances_.sum()

1.0

In [70]:
max_value_idx1=model.feature_importances_.argmax()
max_value_idx1

5

In [72]:
max_value_idx2=0
max_value=model.feature_importances_[max_value_idx2]
for i in range(model.n_features_):
     if max_value<model.feature_importances_[i] and i!=max_value_idx1:
         max_value=model.feature_importances_[i]
         max_value_idx2=i
print(max_value_idx2)

12